__pycache__/
*.zip
*.class
BenchmarkResultsData/
BenchmarkResultsData2/
BenchmarkResultsData3/
BenchmarkResultsPlots/
BenchmarkResultsPlots2/
BenchmarkResultsPlots3/
GeneratedGraphs/
GeneratedGraphs2/
GeneratedGraphs3/
